<a href="https://colab.research.google.com/github/lopez-isaac/DS-Unit-1-Build/blob/master/module3-ridge-regression/LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html). Use the scaler's `fit_transform` method with the train set. Use the scaler's `transform` method with the test set.
- [ ] Fit a ridge regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [48]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [6]:
df.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX_CLASS_AT_PRESENT                  1
BLOCK                                 0
LOT                                   0
EASE-MENT                         23040
BUILDING_CLASS_AT_PRESENT             1
ADDRESS                               0
APARTMENT_NUMBER                  17839
ZIP_CODE                              1
RESIDENTIAL_UNITS                     1
COMMERCIAL_UNITS                      1
TOTAL_UNITS                           1
LAND_SQUARE_FEET                     53
GROSS_SQUARE_FEET                     1
YEAR_BUILT                           35
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALE_PRICE                            0
SALE_DATE                             0
dtype: int64

In [38]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [52]:
df['LAND_SQUARE_FEET'] = df['LAND_SQUARE_FEET'].str.replace(',','')
df['LAND_SQUARE_FEET'] = df['LAND_SQUARE_FEET'].str.replace('########',np.NaN)
df['LAND_SQUARE_FEET'] = df['LAND_SQUARE_FEET'].astype(float)

TypeError: ignored

####objective 1: Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' and the sale price was more than 100 thousand and less than 2 million.

In [0]:
#take 1st subset using desired building class value
df_subset = df[df['BUILDING_CLASS_CATEGORY']=='01 ONE FAMILY DWELLINGS']

In [0]:
#take 2nd subset for for the desired price range
df_subset = df_subset[(df_subset['SALE_PRICE'] >= 100000) & (df_subset['SALE_PRICE'] <= 2000000)]

In [9]:
#check
print(df.shape)
print(df_subset.shape)
df_subset.head()

(23040, 21)
(3164, 21)

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

 #### objective 2: Do train/test split. Use data from January â€” March 2019 to train. Use data from April 2019 to test.

In [10]:
#chnage sale_date to numerical not obj

df_subset['SALE_DATE'] = pd.to_datetime(df_subset["SALE_DATE"])
df_subset["SALE_DATE"].dtype

dtype('<M8[ns]')

In [0]:
### split the date  ###

#where to split it
split_date = pd.datetime(2019,4,1)

#train data
df_train = df_subset.loc[df_subset['SALE_DATE'] < split_date]

#test data
df_test = df_subset.loc[df_subset['SALE_DATE'] >= split_date]

In [12]:
#check 
df_train["SALE_DATE"].tail()

18129   2019-03-29
18130   2019-03-29
18132   2019-03-29
18134   2019-03-29
18147   2019-03-30
Name: SALE_DATE, dtype: datetime64[ns]

#### Objective 3:  Do one-hot encoding of categorical features.

In [13]:
df_train.select_dtypes(exclude='number').describe().T.sort_values(by='unique')

                               count unique  ...      first       last
BUILDING_CLASS_CATEGORY         2517      1  ...        NaT        NaT
APARTMENT_NUMBER                   1      1  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            2517      2  ...        NaT        NaT
BOROUGH                         2517      5  ...        NaT        NaT
NEIGHBORHOOD                    2517      6  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  2517     11  ...        NaT        NaT
BUILDING_CLASS_AT_PRESENT       2517     13  ...        NaT        NaT
SALE_DATE                       2517     68  ... 2019-01-01 2019-03-30
LAND_SQUARE_FEET                2517    889  ...        NaT        NaT
ADDRESS                         2517   2507  ...        NaT        NaT

[10 rows x 6 columns]

In [0]:
# remove features with high categorial values

target = 'SALE_PRICE'
high_cardi = ["ADDRESS","LAND_SQUARE_FEET","SALE_DATE","EASE-MENT","APARTMENT_NUMBER","BUILDING_CLASS_CATEGORY"]
features = df_train.columns.drop([target] + high_cardi)

x_train = df_train[features]
y_train = df_train[target]
x_test = df_test[features]
y_test = df_test[target]

In [0]:
#drop nan from both sets
x_train = x_train.dropna()
x_test = x_test.dropna()

In [16]:
x_train.head()

    BOROUGH  ... BUILDING_CLASS_AT_TIME_OF_SALE
44        3  ...                             A9
61        4  ...                             A1
78        2  ...                             A1
108       3  ...                             A1
111       3  ...                             A5

[5 rows x 14 columns]

In [0]:
import category_encoders as ce

#instanciate the encoder
encoder = ce.OneHotEncoder(use_cat_names=True)

#fit with train data 
x_train = encoder.fit_transform(x_train)
#apply trained encoder to test data
x_test = encoder.transform(x_test)

In [18]:
print(x_train.shape)
x_train.head()

(2517, 46)

     BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44           1  ...                                  0
61           0  ...                                  0
78           0  ...                                  0
108          1  ...                                  0
111          1  ...                                  0

[5 rows x 46 columns]

#### Do feature selection with SelectKBest.

In [0]:
from sklearn.feature_selection import f_regression, SelectKBest

In [20]:
print(x_train.shape)

(2517, 46)

In [55]:
#instanciate our selector
selector = SelectKBest(score_func = f_regression, k=10)

#fit selctor with train data
x_train_select = selector.fit_transform(x_train, y_train)

#to remove the warning
import numpy as np
np.seterr(divide='ignore', invalid='ignore')

#apply to test data 
x_test_select = selector.transform(x_test)

x_test_select

array([[0.0000e+00, 1.0000e+00, 0.0000e+00, ..., 1.0471e+04, 2.2720e+03,
        0.0000e+00],
       [0.0000e+00, 1.0000e+00, 0.0000e+00, ..., 1.0465e+04, 7.2000e+02,
        0.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.1209e+04, 2.2100e+03,
        0.0000e+00],
       ...,
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.1420e+04, 1.3330e+03,
        0.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.1434e+04, 1.0200e+03,
        0.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.1429e+04, 1.2240e+03,
        0.0000e+00]])

In [22]:
# Which features were selected?
all_names = x_train.columns
selected_mask = selector.get_support()
selected_names = all_names[selected_mask]
unselected_names = all_names[~selected_mask]

print('Features selected:')
for name in selected_names:
    print(name)

print('\n')
print('Features not selected:')
for name in unselected_names:
    print(name)

Features selected:
BOROUGH_3
BOROUGH_2
BOROUGH_5
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_FOREST HILLS
BLOCK
BUILDING_CLASS_AT_PRESENT_A3
ZIP_CODE
GROSS_SQUARE_FEET
BUILDING_CLASS_AT_TIME_OF_SALE_A3


Features not selected:
BOROUGH_4
BOROUGH_1
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_BEDFORD STUYVESANT
NEIGHBORHOOD_BOROUGH PARK
NEIGHBORHOOD_ASTORIA
TAX_CLASS_AT_PRESENT_1
TAX_CLASS_AT_PRESENT_1D
LOT
BUILDING_CLASS_AT_PRESENT_A9
BUILDING_CLASS_AT_PRESENT_A1
BUILDING_CLASS_AT_PRESENT_A5
BUILDING_CLASS_AT_PRESENT_A0
BUILDING_CLASS_AT_PRESENT_A2
BUILDING_CLASS_AT_PRESENT_S1
BUILDING_CLASS_AT_PRESENT_A4
BUILDING_CLASS_AT_PRESENT_A6
BUILDING_CLASS_AT_PRESENT_A8
BUILDING_CLASS_AT_PRESENT_B2
BUILDING_CLASS_AT_PRESENT_S0
BUILDING_CLASS_AT_PRESENT_B3
RESIDENTIAL_UNITS
COMMERCIAL_UNITS
TOTAL_UNITS
YEAR_BUILT
TAX_CLASS_AT_TIME_OF_SALE
BUILDING_CLASS_AT_TIME_OF_SALE_A9
BUILDING_CLASS_AT_TIME_OF_SALE_A1
BUILDING_CLASS_AT_TIME_OF_SALE_A5
BUILDING_CLASS_AT_TIME_OF_SALE_A0
BUILDING_CLASS_AT_TIME_OF_SALE_A2
BUILDING_CLASS_AT_TIME_OF_SALE_S1
BUILDING_CLASS_AT_TIME_OF_SALE_A4
BUILDING_CLASS_AT_TIME_OF_SALE_A6
BUILDING_CLASS_AT_TIME_OF_SALE_A8
BUILDING_CLASS_AT_TIME_OF_SALE_S0

#### Do feature scaling. Use the scaler's fit_transform method with the train set. Use the scaler's transform method with the test set.

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
# instanciate the scaler 
scaler = StandardScaler()

#fit to train data
x_train_scaled = scaler.fit_transform(x_train)

#apply to test data 
x_test_scaled = scaler.transform(x_test)

In [25]:
x_test_scaled.mean(axis=0)

array([ 0.16015542,  0.20177616, -0.05351326, -0.33206811,  0.13517863,
       -0.023686  , -0.00044649, -0.03401054,  0.01189062,  0.08785326,
        0.00404016, -0.0284669 ,  0.0284669 ,  0.19399181,  0.00537593,
       -0.01662062,  0.09708023,  0.01751478,  0.00746562, -0.11015   ,
       -0.06043424, -0.01282722, -0.0124427 , -0.0573475 ,  0.0284669 ,
        0.05762116, -0.01993631, -0.01993631,  0.33215746, -0.01445337,
       -0.01834335, -0.0231771 , -0.03087739, -0.19708514,  0.        ,
       -0.01662062,  0.10028895,  0.01751478,  0.00746562, -0.11207648,
       -0.06043424, -0.01282722, -0.0124427 , -0.0573475 ,  0.0284669 ,
       -0.01993631])

In [26]:
x_test_scaled.std(axis=0)

array([1.12806398e+00, 9.87507677e-01, 9.22233101e-01, 7.30603983e-01,
       2.78559819e+00, 1.04724906e+00, 9.98790727e-01, 6.58127704e-01,
       1.06914593e+00, 1.50183926e+00, 1.02990133e+00, 1.11845172e+00,
       1.11845172e+00, 9.69044957e-01, 1.10611267e+00, 9.73146039e-01,
       1.02206874e+00, 1.00700462e+00, 1.02169217e+00, 8.87964597e-01,
       7.18127221e-01, 9.48260312e-01, 9.13456884e-01, 5.10394413e-01,
       1.11845172e+00, 1.97124169e+00, 0.00000000e+00, 3.46944695e-18,
       8.29646989e-01, 1.17546700e+00, 9.03095757e-01, 1.02566426e+00,
       8.93254771e-01, 9.13552476e-01, 0.00000000e+00, 9.73146039e-01,
       1.02263271e+00, 1.00700462e+00, 1.02169217e+00, 8.86249017e-01,
       7.18127221e-01, 9.48260312e-01, 9.13456884e-01, 5.10394413e-01,
       1.11845172e+00, 0.00000000e+00])

 #### Fit a ridge regression model with multiple features.

In [0]:
from sklearn.linear_model import Ridge

In [35]:
rig_model = Ridge(alpha = 10**3)

#fit to train data
rig_model.fit(x_train,y_train)

Ridge(alpha=1000, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

####  Get mean absolute error for the test set.

In [0]:
from sklearn.metrics import mean_absolute_error

In [0]:
y_pred = rig_model.predict(x_test)
mae = mean_absolute_error(y_test, y_pred)

In [37]:
mae

165890.30910940559